
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
  color: rgba(0,0,0,.85);
}

/*h1 {
  font-family: 'Karla', Helvetica, Arial, sans-serif !important;
  font-size: 3.5em;
}
h2 {
  font-family: 'Karla', Helvetica, Arial, sans-serif !important;
  font-size: 2.5em;
}
h3 {
  font-family: 'Karla', Helvetica, Arial, sans-serif !important;
  font-size: 1.5em;
}
h3 {
  font-family: 'Karla', Helvetica, Arial, sans-serif !important;
  font-size: 1.5em;
  font-weight: 400;
}*/
hr {
  width: 100%;
}

.newgreen {
  color: #6d874d;
}


.navlogo {
  height: auto;
  width: auto;
  padding-right: 15px;
}

/*index.html introduction start*/
#intro {
  height: 100%;
  width: 100%;
}
#intro .ui.fluid.container {
  height: 75vh;
  width: 100%;
}
#intro .ui.fluid.container h1.bigtitle {
  margin: auto;
  margin-top: 3em;
  position: relative;
}
#intro .ui.fluid.container h3.bigtitle {
  margin: 1em auto;
  position: relative;
  font-weight: normal;
  max-width: 400px;
}
#intro .bg {
  background-image: url("img/landingpagebg.jpg");
  height: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  #intro .ui.fluid.container {
    margin: 0 !important;
  }

}
/*index.html introduction end*/


/*properties.html introduction start*/
#properties {
  height: 100%;
  width: 100%;
  background-color: #edeae8;
}
#properties .ui.fluid.container.properties {
  height: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
#properties .ui.fluid.container h1.bigtitle {
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 10vh; 
  font-size: 3.5em;
}
#properties .bg {
  background-image: url("img/landingpagebg.jpg");
  height: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  #properties .ui.fluid.container {
    margin: 0 !important;
  }
}
/*properties.html introduction end*/


/*properties accordion begin*/
#propertiescontent {
  margin-top: 2em;
  margin-bottom: 3%;
}
#propertiescontent .content  {
  margin-left: 22px;
}
#propertiescontent .accordion a.accordionlink {
  color: rgba(0,0,0,.4);
}
#propertiescontent .accordion a.accordionlink:hover {
  color: rgba(0,0,0,.85);
}
#propertiescontent .accordion a.accordionlinkactive {
  color: rgba(0,0,0,.85);
  font-weight: 700;
}
/*properties accordion end*/


#propertiescontent p.propertiescontentdescription {
  margin-bottom: 2em;
/*  max-width: 500px;*/
/*  text-align: justify;*/
}
#propertiescontent img.propertiescontentimage {
  width: 100%;
}



.breadcrumb {
  background-color: transparent;
  padding: 0;
}
.breadcrumb a.section {
  color: rgba(0,0,0,.4) !important;
}
.breadcrumb a.section:hover {
  color: rgba(0,0,0,.85) !important;
}




#about .ui.fluid.container {
  height: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
#about .ui.fluid.container h1.bigtitle {
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 10vh; 
  font-size: 3.5em;
}
#aboutcontent .ui.container p {
  text-align: center;
}
#aboutcontent img.map {
  height: auto;
  width: auto;
  max-height: 600px;
}

/*hacked disable mode for items start*/
.disabled {
  opacity: 0.45 !important; 
  cursor: not-allowed !important; 
}
.disabled a:hover {
  color: rgba(0,0,0,.85) !important;
  cursor: not-allowed !important;
}
/*hacked disable mode for items end*/

/*footer begin*/
#footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: rgba(0,0,0,.85);
}
#footer a, #footer p, #footer h4 {
  color: white;
}
#footer a:hover,#footer a:focus  {
  color: rgba(255,255,255,.75);
}
#footer h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
#footer p.lighten {
  color: rgba(255,255,255,.5);
}
#footer p {
  max-width: 275px;
  font-size: .9em;
}
/*footer ends*/



